.header {
  height: 7rem;
  background-color: hsl(0, 0%, 100%);
  border-bottom: var(--color-grey-light-2);
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%;
}

.hotel-view {
  background-color: hsl(0, 0%, 100%);
  background-color: hsl(251, 52%, 56%);
  flex: 1;
}
